/* viewMyPlans.wxss */

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 在水平方向上居中对齐 */
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* 确保按钮位于顶层 */
}

.back-arrow {
  width: 20px;
  height: 20px;
}

.container {
  padding: 20px;
  width: 100%; /* 限制容器宽度 */
  overflow-y: auto; /* 允许垂直滚动 */
}

.training-plan-item {
  margin-top: 20px; /* 调整每个数据项的上边距 */
  width: 100%; /* 让每个训练计划项独占一整行的宽度 */
}

.training-plan-item text {
  font-size: 16px; /* 设置训练计划项文字的字体大小 */
}
